p {
font-family: 'Courier New', Courier, monospace;
font-size: larger;
color: cadetblue;
}


h1 {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 900;
color: blueviolet;
}

.cool {

background-color: aquamarine;
border: 100px aqua;
} 
