.ame {
font-family: 'Courier New', Courier, monospace;
font-size: larger;
color: rgb(0, 255, 0);
filter: drop-shadow(3px 3px 0 magenta);
}
/* ame-chan gets her own class yay */

h1 {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 900;
color: blueviolet;
}

.iwakura {
font-family: 'Courier New', Courier, monospace;
color: rgb(0, 255, 0);
filter: drop-shadow(3px 3px 0 magenta);
} 
/* yep lain also gets her own class */

.nani {
font-family: 'Courier New', Courier, monospace;
color: rgb(0, 255, 0);
font-size: xx-large;
font-weight: 900;
filter: drop-shadow(3px 3px 0 magenta);
} 

.nso {
font-family: 'Courier New', Courier, monospace;
color: rgb(255, 0, 221);
font-size: large;
font-weight: 900;
filter: drop-shadow(2px 2px 0 red);
} 

/* .nani:hover
{
color: rgb(0, 255, 255);
}
 idk why honestly i felt like it */

.yuzuha {
background-color: rgb(48, 0, 45);
font-family: 'Courier New', Courier, monospace;
border: 0;
color: antiquewhite;
padding: 5px 15px;
}


.yuzuha:hover {
background-color: rgb(54, 28, 48);
}

.yuzuha:active {
background-color: darkmagenta;    
}

body {
background-color: black;
}

label {
font-family: 'Courier New', Courier, monospace;
font-size: 2rem;
padding-right: 10px;
}

select {
    font-size: 0.8rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: rgb(0, 255, 0);
}

.crs {
font-family: 'Courier New', Courier, monospace;
color: rgb(255, 0, 221);
font-size: 30px;
font-weight: 900;
}
/* happy new year ig (if its even happy lol)