.ame {
font-family: 'Courier New', Courier, monospace;
font-size: larger;
color: rgb(0, 255, 0);
/*filter: drop-shadow(3px 3px 0 magenta); */
}
/* ame-chan gets her own class yay */

h1 {
font-family: "IBM Plex Mono", monospace;
font-weight: 700;
font-style: normal;
color: magenta;
filter: drop-shadow(3px 3px 0 rgb(0, 255, 0));
}

.iwakura {
font-family: "IBM Plex Mono", monospace;
font-weight: 400;
font-style: normal;
color: rgb(0, 255, 0);
/*filter: drop-shadow(3px 3px 0 magenta);*/
} 
/* yep lain also gets her own class */

.nani {
font-family: "IBM Plex Mono", monospace;
font-weight: 400;
font-style: normal;
color: rgb(0, 255, 0);
font-size: xx-large;
font-weight: 900;
filter: drop-shadow(3px 3px 0 magenta);
} 

.nso {
font-family: "IBM Plex Mono", monospace;
font-weight: 400;
font-style: normal;
color: rgb(255, 0, 221);
font-size: large;
font-weight: 900;
filter: drop-shadow(2px 2px 0 red);
} 

/* .nani:hover
{
color: rgb(0, 255, 255);
}
 idk why honestly i felt like it */

.yuzuha {
background-color: rgb(48, 0, 45);
font-family: "IBM Plex Mono", monospace;
font-weight: 400;
font-style: normal;
border: 0;
color: antiquewhite;
padding: 5px 15px;
}


.yuzuha:hover {
background-color: rgb(54, 28, 48);
}

.yuzuha:active {
background-color: darkmagenta;    
}

body {
background-color: black;
}

label {
font-family: "IBM Plex Mono", monospace;
font-weight: 400;
font-style: normal;
font-size: 2rem;
padding-right: 10px;
}

select {
    font-size: 0.8rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: rgb(0, 255, 0);
}

.crs {
font-family: "IBM Plex Mono", monospace;
font-weight: 400;
font-style: normal;
color: rgb(255, 0, 221);
font-size: 30px;
}

a.otherbutton {
    padding: 1px 6px;
    border-radius: 3px;
    color: magenta;
    background-color: rgb(30, 0, 30);
    text-decoration: none;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
/* happy new year ig (if its even happy lol) */